@import 'src/_variables.scss';

.header-container {
  margin-top: 0px;
  height: 95px;
  background-color: $primary-blue-1;
}
.login-grp {
  position: absolute;
  margin-left: 85%;
  margin-top: 2%

}
