@import 'src/_variables.scss';

.header-container {
  margin-top: 0px;
  height: 95px;
  display: flex;
  background-color: $primary-blue-1;
}
.concerts-grp{
  position: absolute;
  margin-left: 75%;
  margin-top: 2%;
}
.login-grp {
  position: absolute;
  margin-left: 85%;
  margin-top: 2%;
  margin-right: 5%;
}
.login-title {
  font-weight: bold;
}
.login-grp p {
  margin: 0 auto;
  max-width: 80%;

}
