<div class="custom-input-container">
  <input
    class="custom-input"
    [type]="getInputType()"
    [formControl]="inputValue"
    [placeholder]="placeholder"
    [ngClass]="{ 'input-border-error': inputValue.hasError('required') || inputValue.hasError('email') || inputValue.hasError('pattern')}"
  />
  <div class="input-error-message" *ngIf="inputValue.hasError('required')">
    This field is required.
  </div>
  <div class="input-error-message" *ngIf="inputValue.hasError('email')">
    Invalid email format.
  </div>
  <div class="input-error-message" *ngIf="inputValue.hasError('pattern') && inputType === 'mobile'">
    Invalid mobile number format.
  </div>
  <div class="input-error-message" *ngIf="inputValue.hasError('pattern') && inputType === 'auth-code'">
    Code should be 6 digits.
  </div>
</div>
