<div class="custom-input-container">
  <input
    class="custom-input"
    [type]="getInputType()"
    [formControl]="inputValue"
    [textMask]="inputMaskWrapper()"
    [placeholder]="placeholder"
    [ngClass]="{
      'input-border-error':
        (inputValue.hasError('required') ||
          inputValue.hasError('email') ||
          inputValue.hasError('pattern') ||
          inputValue.hasError('luhn') ||
          inputValue.invalid) &&
        inputValue.touched,
      'auth-code-input': inputType == 'auth-code'
    }"
  />
  <div
    class="input-error-message"
    *ngIf="
      (inputValue.hasError('required') || inputValue.invalid) &&
      !inputValue.hasError('email') &&
      !inputValue.hasError('pattern') &&
      !inputValue.hasError('luhn') && 
      inputValue.touched
    "
  >
    This field is required.
  </div>
  <div class="input-error-message" *ngIf="inputValue.hasError('email')">
    Invalid email format.
  </div>
  <div
    class="input-error-message"
    *ngIf="inputValue.hasError('pattern') && inputType === 'mobile'"
  >
    Invalid mobile number format.
  </div>
  <div
    class="input-error-message"
    *ngIf="inputValue.hasError('pattern') && inputType === 'auth-code'"
  >
    Code should be 6 digits.
  </div>
  <div
    class="input-error-message"
    *ngIf="inputValue.hasError('luhn') && inputType === 'credit-card' && !inputValue.hasError('required')"
  >
    Please enter a valid credit card number.
  </div>
</div>
