@import "/src/variables";

.invitation-title {
  margin-top: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.input-fields {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

img {
  width: 15%;
  display: inline;
  margin-right: 5%;
}

.status-msg {
  display: inline;
  text-wrap: nowrap;
  white-space: nowrap;
  width: max-content;
  margin-left: 10px;

  .success {
    -webkit-text-fill-color: $success-1;
  }
  .error {
    -webkit-text-fill-color: $error-1;
  }
}

.success-icon,
.failure-icon {
  display: inline;
  width: 24px;
  height: 24px;
}
