<div *ngFor="let invitee of invitees; index as idx">
  <h2>Invitation {{ idx + 1 }}</h2>
  <div class="container">
    <div class="email">
      <app-input-field
        [inputType]="'email'"
        [inputValue]="invitee[0]"
        [placeholder]="'email'"
        [isRequired]="false"
      ></app-input-field>
    </div>
    <div class="mobile">
      <app-input-field
        [inputType]="'mobile'"
        [inputValue]="invitee[1]"
        [placeholder]="'mobile'"
        [isRequired] = "false"
      ></app-input-field>
    </div>
    <div *ngIf = "verifyUser(idx)">
      <div  *ngIf= "inviteeVerified[idx] else notVerified">
        <img src = "assets/icons/success.svg" alt = "User verified"/>
        <p class = 'status-msg success'>User is verified.</p>
      </div>
    </div>
  </div>
</div>

<ng-template #notVerified>
    <img src = "assets/icons/failure.svg" alt = "User not verified"/>
    <p class = 'status-msg error'>User might not have an account yet.</p>
</ng-template>
