<div *ngFor="let invitee of invitees; index as idx">
  <h2 class="invitation-title">Invitation {{ idx + 1 }}</h2>
  <div class="container">
    <div class="input-fields">
      <div class="email">
        <app-input-field
          [inputType]="'email'"
          [inputValue]="invitee[0]"
          [placeholder]="'Email'"
          [isRequired]="false"
        ></app-input-field>
      </div>
      <div class="mobile">
        <app-input-field
          [inputType]="'mobile'"
          [inputValue]="invitee[1]"
          [placeholder]="'Mobile'"
          [isRequired]="false"
        ></app-input-field>
      </div>
    </div>
    <div *ngIf="verifyUser(idx)">
      <div *ngIf="inviteeVerified[idx]; else notVerified">
        <p class="status-msg success">
          <img
            src="assets/icons/success.svg"
            alt="User verified"
            class="success-icon"
          />
          User is verified.
        </p>
      </div>
    </div>
  </div>
</div>

<ng-template #notVerified>
  <p class="status-msg error">
    <img
      src="assets/icons/failure.svg"
      alt="User not verified"
      class="failure-icon"
    />
    User might not have an account yet.
  </p>
</ng-template>
