@import "/src/styles.scss";

.carousel-slide {
    padding-left: 155px;
    padding-right: 155px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

img {
    object-fit: cover;
}

.carousel-concert-details {
    width: 440px;
    -webkit-text-fill-color: $white;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.carousel-concert-text {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.carousel-buttons {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}