@import "/src/styles.scss";

.stepper-container {
  margin-bottom: 40px;
}

.p-steps .p-steps-item .p-menuitem-link {
  background: none;
}

.container-body {
  padding-left: 89px;
  padding-top: 44px;
  padding-right: 89px;
  padding-bottom: 44px;
}

.parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.event-poster {
  width: 500px;
  height: 600px;
  object-fit: cover;
}

.reg-info-group {
  margin-top: 20px;
}

.concert-details-button {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.view-shows-table {
  margin-top: 20px;
}
