<app-header
  (verifiedUserLoggingIn)="handleUserLoginLogoutChange()"
  (userLoggedOut)="handleUserLoginLogoutChange()"
></app-header>
<div class="container-body">
  <div class="container-top">
    <div class="stepper-container">
      <p-steps [model]="steps" [activeIndex]="activeIndex"></p-steps>
    </div>
    <div class="parent">
      <div class="event-title">
        <h1 *ngIf="hasEventLoaded">{{ eventInfo.name }}</h1>
      </div>
      <div class="reg-status-group" [ngSwitch]="registerStatus">
        <div *ngSwitchCase="'0'">
          <app-text-button
            [buttonVariants]="'primary'"
            buttonText="REGISTER"
            [isDisabled]="true"
          ></app-text-button>
        </div>
        <div *ngSwitchCase="'1'">
          <app-text-button
            buttonVariants="primary"
            buttonText="REGISTER"
            (buttonClick)="handleRegisterButtonClick()"
          ></app-text-button>
        </div>
        <div *ngSwitchCase="'2'">
          <app-text-button
            buttonVariants="primary"
            [isDisabled]="true"
            buttonText="PENDING CONFIRMATION"
          ></app-text-button>
        </div>
        <div *ngSwitchCase="'3'">
          <app-text-button
            buttonVariants="important"
            buttonText="NEXT STEPS"
            (buttonClick)="handleNextStepsButtonClick()"
          ></app-text-button>
        </div>
        <div *ngSwitchCase="'4'">
          <app-text-button
            buttonVariants="successful"
            buttonText="REGISTERED"
          ></app-text-button>
        </div>
        <div *ngSwitchCase="'5'">
          <app-text-button
            buttonVariants="primary"
            [isDisabled]="true"
            buttonText="PURCHASED"
          ></app-text-button>
        </div>
        <div *ngSwitchCase="'6'">
          <app-text-button
            buttonVariants="successful"
            buttonText="ACCEPT INVITATION"
          ></app-text-button>
        </div>
        <div *ngSwitchDefault>
          <app-text-button
            buttonVariants="warning"
            buttonText="INTERNAL ERROR"
          ></app-text-button>
        </div>

        <div *ngIf="routeToQueueButtonVisible()">
          <app-text-button
            buttonVariants="secondary"
            buttonText="Join Queues!"
            (buttonClick)="handleQueueButtonClick()"
          ></app-text-button>
        </div>
      </div>
    </div>
  </div>
  <div class="event-group-outer">
    <div class="parent event-group-container">
      <div *ngIf="hasEventLoaded" class="poster">
        <img
          src="/assets/posters/{{ eventInfo.image }}"
          alt="{{ eventInfo.name }} poster"
          class="event-poster"
        />
      </div>

      <div class="reg-info-group" *ngIf="showGroupMembersInfo()">
        <h2>Group Members</h2>
        <app-group-member-list
          [memberEmailList]="otherMemberEmailList"
          [confirmList]="otherMemberConfirmList"
        ></app-group-member-list>
        <app-text-button
          buttonVariants="warning"
          buttonText="Modify Group"
          (buttonClick)="handleModifyGroupButtonClick()"
        ></app-text-button>
      </div>
    </div>
  </div>
  <div class="event-desc-group">
    <div *ngIf="hasEventLoaded" class="description">
      <h2>Description</h2>
      <p>{{ eventInfo.description }}</p>
    </div>
  </div>
  <div class="view-shows-table">
    <h2>Shows</h2>
    <app-view-shows></app-view-shows>
  </div>
</div>
