<app-header></app-header>
<div class="container">
  <div class="queue-details-container">
    <div class="queue-details">
      <h1>{{ eventTitle }}</h1>
      <div>
        <h2>Queue Registration</h2>
        <p>Choose your preferred queue timings. All fields have to be filled. </p>
      </div>
    </div>
    <img
      class="information-icon"
      src="../../../../../assets/icons/information.svg"
      (click)="handleInformationClick()"
      alt="Information Icon"
    />
  </div>

  <form [formGroup]="queueTimingForm">
    <div
      *ngFor="let optionNo of queueOptions"
      class="queue-timing-dropdown-container"
    >
      Queue Timing #{{ optionNo + 1 }}
      <p-dropdown
        [options]="queueTimings"
        [formControlName]="'queueTiming' + optionNo"
        placeholder="Select a queue timing"
        (onChange)="onOptionSelected()"
      ></p-dropdown>
    </div>
  </form>
  <div class="navigation-buttons">
    <div class="back-button">
      <app-text-button
        buttonVariants="black"
        buttonText="Back to Concert Details"
        (buttonClick)="handleBackToConcert()"
      ></app-text-button>
    </div>
    <div class="next-button">
      <app-text-button
        buttonVariants="primary"
        buttonText="Next"
        (buttonClick)="handleNext()"
        [isDisabled]="this.isNextDisabled"
      ></app-text-button>
    </div>
  </div>
</div>
