@import '/src/styles.scss';

body {
  padding-left: 89px;
  padding-top: 44px;
  padding-right: 89px;
  padding-bottom: 44px;
}

.reminder {
  font-weight: bold;
}

.register-button-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}