<app-header></app-header>
<body>
<h1>{{ eventTitle }}</h1>
<h2>Group Registration</h2>
<p>
  Please fill in the following fields if you intend to go for this event with
  friends or family.
</p>
<p class= 'reminder'>
  Please skip this step if you are attending the event alone.
</p>
<div class="register-button-container">
    <app-group-register-invite [inviteeList] = "invitees" (keyStrokeDetected)="onKeyStrokeDetected()"></app-group-register-invite>

    <div class="button-container">
        <app-text-button buttonVariants="black" buttonText="Back to Concert Details" (buttonClick)="backToConcert()"></app-text-button>
    
        <app-text-button
          buttonVariants="primary"
          buttonText="Verify Group Members"
          (buttonClick)="verify()"
          >Verify Group Members</app-text-button>

          <app-text-button
          buttonVariants="primary"
          buttonText="Confirm Group"
          (buttonClick)="confirm()"
          [isDisabled] = "!this.verified"
          >Confirm Group</app-text-button>
    </div>
</div>
</body>

