<app-header></app-header>
<body>
<h1>{{ eventTitle }}</h1>
<h2>Group Registration</h2>
<p>
  Please fill in the following fields if you intend to go for this event with
  friends or family.
</p>
<p class= 'reminder'>
  Please skip this step if you are attending the event alone.
</p>
<div class="register-button-container">
    <app-group-register-invite [inviteeList] = "invitees"></app-group-register-invite>

    <div class="button-container">
        <app-text-button buttonVariants="black" buttonText="Back to Concert Details" (buttonClick)="backToConcert()"></app-text-button>
    
        <app-text-button
          buttonVariants="primary"
          buttonText="Register"
          (buttonClick)="confirm()"
          [isDisabled] = "!this.inputIsValid(0) || !this.inputIsValid(1) || !this.inputIsValid(2)"
          >Register</app-text-button>
    </div>
</div>
</body>

