@import '/src/styles.scss';

.parent-container {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.landing-carousel-container {
    height: 700px;
    background-color: $primary-blue-1;
    padding-top: 55px;
}

.upcoming-concerts-container {
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
    row-gap: 20px;
}
