<h2>Welcome to the ticketing system!</h2>
<p>This is the body font</p>
<app-text-button buttonVariants="primary" buttonText="Primary Button"></app-text-button>
<app-text-button buttonVariants="primary" [isDisabled]="true" buttonText="Disabled Primary"></app-text-button>
<app-text-button buttonVariants="back" buttonText="Back Button"></app-text-button>
<app-text-button buttonVariants="secondary" buttonText="Secondary button"></app-text-button>
<app-text-button buttonVariants="important" buttonText="Important Button"></app-text-button>
<app-text-button buttonVariants="warning" buttonText="Warning button"></app-text-button>
<app-text-button buttonVariants="black"></app-text-button>
<app-text-button buttonVariants="importantOutline"></app-text-button>
<app-text-button buttonVariants="whiteOutline"></app-text-button>
