<body>
    <div class="landing-carousel-container">
            <app-carousel class="landing-carousel"></app-carousel>
    </div>

    <div>
        <app-input-field [inputType]="'mobile'" placeholder="Mobile input" [isRequired]="true"></app-input-field>
        <app-input-field [inputType]="'email'" placeholder="Email input" [isRequired]="true"></app-input-field>
        <app-input-field [inputType]="'password'" placeholder="Password input" [isRequired]="true"></app-input-field>

    </div>
</body>
