@import "/src/styles.scss";
div{
  display: inline-flex;
}

.button {
  border-radius: 35px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: bold;
  -webkit-text-fill-color: $white;
  padding: 10px 20px;
  cursor: pointer;
}

.button-primary {
  border: none;
  background-color: $primary-blue-1;
}

.button-secondary {
  border: none;
  background-color: $secondary-orange-3;
}

.button-black {
  border: none;
  background-color: $black;
}

.button-back {
  border: none;
  background-color: $gray-2;
}

.button-important {
  border: none;
  background-color: $secondary-orange-2;
}

.button-warning {
  border: none;
  background-color: $error-2;
}

.button-important-outline {
  border-color: $error-2;
  border-style: solid;
  background-color: transparent;
  -webkit-text-fill-color: $black;
}

.button-white-outline {
  border-color: $white;
  border-style: solid;
  background-color: transparent;
  -webkit-text-fill-color: $black;
}

.disabled {
  background-color: $gray-3;
  -webkit-text-fill-color: $gray-2;
  pointer-events: none;
}