@import "src/_variables.scss";

.item {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

.email {
  // width: 85%;
}

.confirm {
  // width: 5%;
  img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }
}

.vacant p {
  -webkit-text-fill-color: $gray-2;
  text-wrap: nowrap;
}
