@import "src/_variables.scss";

.item {
  display: flex;
  flex-direction: row;
}

.email {
  width: 85%;
}

.confirm {
  width: 5%;
  img {
    width: 100%;
    height: auto;
  }
}

.vacant p {
  -webkit-text-fill-color: $gray-2;
}
