/* Define variables for reusability */
/* Colours */
$primary-blue-1: #2E90FA;
$primary-blue-2: #F5FBFF;
$secondary-orange-1: #FEF0C7;
$secondary-orange-2: #D16F05;
$secondary-orange-3: #7D4304;
$white: #FFFFFF;
$gray-1: #F3F4F5;
$gray-2: #CFCFCF;
$gray-3: #7A8086;
$gray-4: #60676E;
$gray-5: #363F47;
$black: #000000;
$success-1: #D1FADF;
$success-2: #5EDD60;
$error-1: #F04438;
$error-2: #D92D20;

/* Font sizes */
$header-1-font-size: 40px;
$header-2-font-size: 20px;
$body-font: 18px;
$sub-text-1-font-size: 15px;
$sub-text-1-font-weight: medium;
$sub-text-2-font-size: 14px ;
$sub-text-2-font-weight: medium;
$sub-text-3-font-size: 15px;
$sub-text-3-font-weight: bold;
$sub-text-4-font: 14px;
$button-text-font-size: 18px;
$button-text-font-weight: bold;